[user]
	name = Youssef Agiza
	email = youssefagiza@aucegypt.edu
[core]
	edit = code --wait
[color]
	ui = true
[alias]
	logg = log --all --oneline --decorate --graph
	lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30

	last = log -1 HEAD
	st = status
	s = status -s
	br = branch
	bra= branch -a
	brr = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	brra = branch -a --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	ch = checkout
	co = checkout
	cob = checkout -b
	ci = commit
	cma = commit -a
	del = branch -d
	delt = branch -D
	save = "!f(){ git add -A && git commit -m \"$1\"; }; f"
	upload = "!f(){ git push -u origin $(git rev-parse --abbrev-ref HEAD); }; f"
	done = "!f(){ git add -A && git commit -m \"$1\" && git push -u origin $(git rev-parse --abbrev-ref HEAD); }; f"
	amend = commit --amend
	aa = add --all
	unstage = reset HEAD -- 
	undo = reset --mixed HEAD~1
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /


[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

